{% extends 'home/index.html' %} {% block contenido %}


<h1 style="text-align: center;">Sobre nosotros</h1>
<p style="text-align: justify;">
    El cancer de prostata no es un juego, hay que romper los tabues e ir a realizarse las pruebas pertinenetes cuando sea la hora. Si no cuidamos de nosotros mismos entonces quien lo hara.
    <br><br>¿Necesitas ayuda profesional?:
    <ul>
        <li>
            Fundacion de Alba:
            <ul>
                <li>
                    <img src="https://w7.pngwing.com/pngs/428/279/png-transparent-computer-icons-web-page-identity-angle-text-logo.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="http://www.queondacontushuevos.com/">http://www.queondacontushuevos.com/</a>
                </li>
                <li>
                    <img src="https://w7.pngwing.com/pngs/662/783/png-transparent-facebook-inc-social-media-computer-icons-social-network-facebook-blue-text-trademark.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="https://www.facebook.com/queondacontushuevos">¿Que onda con tus huevos?</a>
                </li>
                <li>
                    <img src="https://e7.pngegg.com/pngimages/708/311/png-clipart-twitter-twitter-thumbnail.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="https://twitter.com/ondadehuevos">@OndadeHuevos</a>
                </li>
            </ul>
        </li>
        <li>
            Asociación Mexicana de Lucha Contra el Cancer A.C.:
            <ul>
                <li>
                    <img src="http://assets.stickpng.com/images/5a4525f5546ddca7e1fcbc86.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="tel:555574 0393">(55) 5574 - 0393</a> o
                    <a href="tel:5555640794">(55) 5564 - 0794</a>
                </li>
                <li>
                    <img src="http://assets.stickpng.com/images/5a4525f5546ddca7e1fcbc86.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="tel:5555740393">(55) 5574 - 0393</a>
                </li>
                <li>
                    <img src="https://w7.pngwing.com/pngs/1023/729/png-transparent-email-address-electronic-mailing-list-logo-internet-email-miscellaneous-angle-triangle.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="mailto:contacto@amlcc.org">contacto@amlcc.org</a>
                </li>
            </ul>
        </li>
        <li>
            Instituto Mexicano del Seguro Socail (IMSS):
            <ul>
                <li>
                    <img src="https://w7.pngwing.com/pngs/662/783/png-transparent-facebook-inc-social-media-computer-icons-social-network-facebook-blue-text-trademark.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="https://www.facebook.com/gobmexico">facebook.com/gobmexico</li>
                <li>
                    <img src="https://e7.pngegg.com/pngimages/708/311/png-clipart-twitter-twitter-thumbnail.png" width="25" height="25" style="border-radius: 25px;"></a>
                    <a href="https://twitter.com/GobiernoMX">twitter.com/GobiernoMX</a>
                </li>
            </ul>
        </li>
    </ul>
</p>
{% endblock contenido %}